<!-- <button type="button" name="button" class="danger">Submit</button> <br> -->
<!-- <img src="https://via.placeholder.com/300/09f/fff.png"> -->

<table class="table table-dark table-striped">
<!-- for loop in the HTML (because of angular) -->
  <tr *ngFor="let item of books">
    <td> <!-- can add *ngIf="item.price>100" for only showing high prices -->
       {{item.title}}
    </td>
    <td>
      {{item.author}}
    </td>
    <td>
      {{item.price}}
    </td>
  </tr>
</table>
